<link href="./styles/print.css  " rel="stylesheet" media="all">
<form class="" role="form">

    <script cam-script type="text/form-script">
        camForm.on('form-loaded',function(){
         
         
          })
          
        $scope.open = function($event) {
            
            $event.preventDefault();
            $event.stopPropagation();
            $scope.referralDate = true
          };
          
        camForm.on('form-loaded',function(){

        
             camForm.variableManager.fetchVariable('birthdate');
            camForm.variableManager.fetchVariable('drivingLicenseIssueDate');
           camForm.variableManager.fetchVariable('facePictureFile');
        })
        
        camForm.on('variables-fetched',function(){
            $scope.RequesterModel = {
         
                birthdate :camForm.variableManager.variable('birthdate').value,
                drivingLicenseIssueDate :camForm.variableManager.variable('drivingLicenseIssueDate').value,
          
             }
        })

        $scope.approved = false;
        $scope.isApproved =function(){
             $scope.approved = ! $scope.approved;
         }

         camForm.on('submit', function(evt) {
             var dateFarsi = new Date($("#referralDate").val().split('T')[0]).toLocaleDateString("fa-IR");
           camForm.variableManager.createVariable({
             name: 'referralDateFarsi',
             type : 'String',
             value : dateFarsi
           })

          
          });


        camForm.on('variables-fetched', function() {
           
         });
      </script>
    <p>آیا مدارک مورد تایید است؟</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-md-4">تصویر از تمام صفحات شناسنامه متقاضی</label>
                <div class="form-control-static col-md-8">
                    <a cam-file-download="shenasnamehFile"></a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">عکس 3در4</label>
                <div class="form-control-static col-md-10 logo">
                    <div class="col-md-6">
                        <img src="{{ camForm.variableManager.variable('facePictureFile').contentUrl }}"
                            class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="form-group">
    <label class="control-label col-md-2">تصویر از تمام صفحات شناسنامه همسر</label>
    <div class="form-control-static col-md-10">
      <a cam-file-download="shenasnameWife"></a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">تصویر سند ازدواج (فقط مشخصات زوجین)</label>
    <div class="form-control-static col-md-10">
      <a cam-file-download="marriageFile"></a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">تصویر مدرک تحصیلی (حداقل دیپلم)</label>
    <div class="form-control-static col-md-10">
      <a cam-file-download="educationFile"></a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">کپی کارت پایان خدمت یا معافیت </label>
    <div class="form-control-static col-md-10">
      <a cam-file-download="militaryFile"></a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">تصویر گواهینامه رانندگی</label>
    <div class="form-control-static col-md-10">
      <a cam-file-download="drivingFile"></a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">عکس 3 در 4</label>
    <div class="form-control-static col-md-10">
      <a cam-file-download="facePictureFile"></a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">معرفی نامه از یکی از آژانس های حمل و نقل عمومی</label>
    <div class="form-control-static col-md-10">
      <a cam-file-download="agancyFile"></a>
    </div>
  </div>  -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 ">
            <div class="panel panel-primary">
                <div class="panel-heading">مشخصات خودرو</div>
                <div class="panel-body">
                    <div class="col-lg-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="UserID">شماره پلاک</label>
                            <div class="controls">
                                <input id="plateNumber" class="form-control" type="text" required
                                    cam-variable-name="plateNumber" ng-model-options="{debounce: 500}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="code">کد</label>
                            <div class="controls">
                                <input id="code" class="form-control" type="text" required cam-variable-name="code"
                                    ng-model-options="{debounce: 500}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="agancy">آژانس</label>
                            <div class="controls">
                                <input id="agancy" class="form-control" type="text" required cam-variable-name="agancy"
                                    ng-model-options="{debounce: 500}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="idCode">کد شناسایی</label>
                            <div class="controls">
                                <input id="idCode" class="form-control" type="text" required cam-variable-name="idCode"
                                    ng-model-options="{debounce: 500}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="vehicleType">نوع خودرو عمومی</label>
                            <div class="controls">
                                <input id="vehicleType" class="form-control" type="text" required
                                    cam-variable-name="vehicleType" ng-model-options="{debounce: 500}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="vehicleYear">سال تولید خودرو</label>
                            <div class="controls">
                                <input id="vehicleYear" class="form-control" type="text" required
                                    cam-variable-name="vehicleYear" ng-model-options="{debounce: 500}">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="vehicleOwnerType" cam-variable-name="vehicleOwnerType"
                                    id="inlineCheckbox1" value="مالک شش دانگ"> مالک شش دانگ
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="vehicleOwnerType" cam-variable-name="vehicleOwnerType"
                                    id="inlineCheckbox2" value="مالک سه دانگ"> مالک سه دانگ
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="vehicleOwnerType" cam-variable-name="vehicleOwnerType"
                                    id="inlineCheckbox3" value="راننده کمکی"> راننده کمکی
                            </label>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 ">
            <div class="panel panel-info">
                <div class="panel-heading">مشخصات راننده</div>
                <div class="panel-body">
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="name">نام</label>
                            <div class="controls">
                                <input id="name" class="form-control" type="text" required cam-variable-name="name">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="lastName">نام خانوادگی</label>
                            <div class="controls">
                                <input id="lastName" class="form-control" type="text" required
                                    cam-variable-name="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="fatherName">نام پدر</label>
                            <div class="controls">
                                <input id="fatherName" class="form-control" type="text" required
                                    cam-variable-name="fatherName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="IdNum">شماره شناسنامه</label>
                            <div class="controls">
                                <input id="IdNum" class="form-control" type="text" required cam-variable-name="IdNum">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="birthdate">تاریخ تولد</label>
                            <div class="controls">
                                <input id="birthdate" class="form-control" type="text"
                                    value="{{RequesterModel.birthdate | camDate:'short'}}" required required />

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="originatedLoc">محل صدور</label>
                            <div class="controls">
                                <input id="originatedLoc" class="form-control" type="text" required
                                    cam-variable-name="originatedLoc">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="education">میزان تحصیلات</label>
                            <div class="controls">
                                <input id="education" class="form-control" type="text" required
                                    cam-variable-name="education">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="religious">مذهب</label>
                            <div class="controls">
                                <input id="religious" class="form-control" type="text" required
                                    cam-variable-name="religious">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="nationalCode">شماره ملی</label>
                            <div class="controls">
                                <input id="nationalCode" class="form-control" type="text" required
                                    cam-variable-name="nationalCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="drivingLicenseType">نوع گواهینامه</label>
                            <div class="controls">
                                <input id="drivingLicenseType" class="form-control" type="text" required
                                    cam-variable-name="drivingLicenseType">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="drivingLicenseTypeNumber">شماره گواهینامه</label>
                            <div class="controls">
                                <input id="drivingLicenseTypeNumber" class="form-control" type="text" required
                                    cam-variable-name="drivingLicenseTypeNumber">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="drivingLicenseIssue">صادره</label>
                            <div class="controls">
                                <input id="drivingLicenseIssue" class="form-control" type="text" required
                                    cam-variable-name="drivingLicenseIssue">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="drivingLicenseIssueDate">تاریخ صدور گواهینامه</label>
                            <div class="controls">
                                <input id="drivingLicenseIssueDate" class="form-control" type="text" required
                                    value="{{RequesterModel.drivingLicenseIssueDate | camDate:'short'}}">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="kishAddress">آدرس در جزیره کیش</label>
                            <div class="controls">
                                <input id="kishAddress" class="form-control" type="text" required
                                    cam-variable-name="kishAddress">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <div class="controls">
                                <input id="kishTelephone" placeholder="تلفن تماس کیش" class="form-control" type="text"
                                    required cam-variable-name="kishTelephone">
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-4 col-md-4 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="address">آدرس خارج از جزیره کیش</label>
                            <div class="controls">
                                <input id="address" class="form-control" type="text" required
                                    cam-variable-name="address">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 ">
                        <div class="form-group">
                            <label class="control-label" for="telephone">شماره تماس</label>
                            <div class="controls">
                                <input id="telephone" class="form-control" type="text" required
                                    cam-variable-name="telephone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label>
                    <input ng-click="isApproved()" cam-variable-name="approved" cam-variable-type="Boolean"
                        type="checkbox" name="approved" class="form-control" />
                    آیا مورد تایید است؟
                </label>
            </div>
        </div>
        <div ng-show='!approved' class="col-lg-6 col-md-6 col-xs-12 ">
            <div class="form-group">
                <label class="control-label" for="rejectReason">توضحیات رد پرونده</label>
                <div class="controls">
                    <input id="rejectReason" class="form-control" cam-variable-name="rejectReason"
                        cam-variable-type="String" type="textarea" ng-required='!approved'
                        ng-model-options="{debounce: 500}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-show='approved' ng-disabled='!approved' class="">
                <div class="form-group">
                    <div class="input-group">
                        <label class="control-label" for="referralDate">تاریخ رجوع</label>
                        <input uib-datepicker-popup="yyyy/MM/ddThh:mm" show-button-bar="false" ng-click="open($event)"
                            is-open="referralDate" cam-variable-name="referralDate" cam-variable-type="String"
                            ng-required='approved' id="referralDate" type="hidden" required
                            ng-model="model.referralDate">
                        <input type="text" ng-click="open($event)" placeholder="تاریخ رجوع" class="form-control"
                            value="{{model.referralDate | camDate:'short'}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-show='approved'>
                <div class="form-group">
                    <div class="input-group">
                        <label class="control-label" for="referralTime">زمان مراجعه</label>
                        <input id="referralTime" cam-variable-name="referralTime" cam-variable-type="String"
                            placeholder="زمان مراجعه" class="form-control" type="text" ng-required='approved'>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show='approved' class="col-xs-12 ">
            <div class="form-group">
                <label class="control-label" for="considerations">ملاحظات</label>
                <div class="controls">
                    <textarea id="considerations" class="form-control" cam-variable-name="considerations"
                        cam-variable-type="String" type="textarea"></textarea>
                </div>
            </div>
        </div>
</form>